html {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(86, 38, 150, 0.486);
  background-image: url(./svg/blob\ \(7\).svg);
  background-repeat: repeat;
  background-size: 620px;
  background-blend-mode: exclusion;
}

.clock {
  background-color: rgba(86, 38, 150, 0.158);
  padding: 55px;
  font-size: 6rem;
  color: rgba(240, 248, 255, 0.801);
  border-radius: 20% 0% 20% 0%;
  box-shadow: 2px 2px 15px 8px rgba(86, 38, 150, 0.425);
};
